/*=============================================
					all-author
===============================================*/
#all-author {
	padding-top: 70px;
	margin-bottom: 200px;
    
    .panel.panel-card {
        position: relative;
        max-width: 250px;
        border: none;
        overflow: hidden;
        margin: 0 auto;
        
        .panel-heading {
            position: relative;
            z-index: 2;
            height: 70px;
            border-bottom-color: #fff;
            overflow: hidden;
            -webkit-transition: height 600ms ease-in-out;
            transition: height 600ms ease-in-out;
        }

        .panel-figure {
            position: absolute;
            top: auto;
            left: 50%;
            z-index: 3;
            width: 70px;
            height: 70px;
            background-color: #fff;
            border-radius: 50%;
            opacity: 1;
            -webkit-box-shadow: 0 0 0 3px #fff;
            box-shadow: 0 0 0 3px #fff;
            -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
            -webkit-transition: opacity 400ms ease-in-out;
            transition: opacity 400ms ease-in-out;
        }

        .panel-body {
            padding-top: 40px;
            -webkit-transition: padding 400ms ease-in-out;
            transition: padding 400ms ease-in-out;
        }
    }

    .panel-thumbnails {
        padding: 0 15px 10px;
        text-align: center;
    }

    .paginate-authors {
        margin: 50px auto;
    }

    .list-authors {
        margin: 0px auto;
    }

    .search-authors {
        border: none;
    }

    .btn-follow {
        padding: 0 5px 0 5px;
    }
}
