@import url("https://fonts.googleapis.com/css?family=Lora|Open+Sans:400,900|Playfair+Display:900");

body {
    min-width: 320px !important;
}

.detail--post {

    p,
    ul,
    li {
        font-family: "Lora", serif;
        font-size: 20px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Open Sans";
        font-weight: 900;
    }

    .topic--post {
        margin-top: 0px;
        margin-bottom: 22px;
        font-weight: 400;
        --x-height-multiplier: 0.342;
        --baseline-multiplier: 0.22;
        font-family: "Open Sans";
        font-style: normal;
        font-size: 20px;
        line-height: 1.22;
        letter-spacing: -.012em;
        color: rgba(0, 0, 0, .54);
    }

    .center-content__1040px {
        max-width: 1040px;
        margin: 0 auto;
    }

    .center-content__740px {
        max-width: 740px;
        margin: 0 auto;
    }

    .center-content__800px {
        max-width: 800px;
        margin: 0 auto;
    }

    .avatar__60px {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: black;
        border: 2px solid black;
        vertical-align: middle;
    }

    .author-name {
        font-size: 20px;

        &:link,
        &:visited {
            font-weight: 700;
            color: #00ab6b;
            text-decoration: none;
        }
    }

    .truncate-line__1 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        height: 20px;
    }

    .truncate-line__2 {
        overflow: hidden;
        display: -webkit-box;
        // -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        // height: $font-small-double-line-height;
    }

    .text-small {
        font-size: 14px;
        font-weight: normal;
        text-decoration: none;
    }

    .text-small>a {
        color: gray;
        text-decoration: none;

        &:hover {
            color: black;
            text-decoration: none;
        }
    }


    .text-small__black>a {
        color: black;
        text-decoration: none;

        &:hover {
            color: black;
            text-decoration: underline;
        }
    }

    .text-light__grey {
        color: gray;
    }
}

.vote {
    margin-left: -5px;
    line-height: 20px;
}

.cmt {
    padding: 10px;
    background-color: #fafafa;
    -webkit-font-smoothing: antialiased;

    input,
    textarea {
        outline: none;
        border: none;
        display: block;
        margin: 0;
        padding: 0;
        -webkit-font-smoothing: antialiased;
        font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
        font-size: 1rem;
        color: #000;
    }

    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        color: #999;
    }

    .comments {
        margin: 2.5rem auto 0;
        max-width: 60.75rem;
        padding: 0 1.25rem;

        .comment-wrap {
            margin-bottom: 1.25rem;
            display: table;
            width: 100%;
            min-height: 5.3125rem;

            .photo {
                padding-top: 0.625rem;
                display: table-cell;
                width: 4rem;

                .avatar {
                    height: 3rem;
                    width: 3rem;
                    border-radius: 50%;
                    background-size: contain;
                }

            }

            .comment-block {
                background: #fff;
                padding: 1.7rem;
                border: 1px solid rgba(0, 0, 0, .09);
                display: table-cell;
                vertical-align: top;
                border-radius: 0.1875rem;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04);
                color: #000;

                textarea {
                    width: 100%;
                    resize: none;
                }

                .comment-text {
                    font-size: 18px;
                    margin-bottom: 1.25rem;
                }

                .bottom-comment {
                    color: #999;
                    font-size: 0.875rem;
                }

                .comment-interactive {
                    float: left;
                }

                .comment-actions {
                    float: right;

                    li {
                        display: inline;
                        margin: -2px;
                        cursor: pointer;
                    }

                    li.complain {
                        padding-right: 0.75rem;
                        border-right: 1px solid #e1e5eb;
                    }

                    li.reply {
                        padding-left: 0.75rem;
                        padding-right: 0.125rem;
                    }

                    li:hover {
                        color: #0095ff;
                    }
                }
            }
        }
    }
    
    .vote-cmt {
        margin-left: 16px;
        font-size: 16px;
    }
}
