.lockscreen {
  background: #e9ecef;
}

.lockscreen-logo {
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
  a {
    color: #444;
  }
}

.lockscreen-wrapper {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 10%;
}

.lockscreen .lockscreen-name {
  text-align: center;
  font-weight: 600;
}

.lockscreen-item {
  border-radius: 4px;
  padding: 0;
  background: #ffffff;
  position: relative;
  margin: 10px auto 30px auto;
  width: 400px;
}

.lockscreen-image {
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: -25px;
  background: #ffffff;
  padding: 5px;
  z-index: 10;
  > img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }
}

.lockscreen-credentials {
  margin-left: 70px;
  .form-control {
    border: 0;
  }
  .btn {
    background-color: #ffffff;
    border: 0;
    padding: 0 10px;
  }
}

.lockscreen-footer {
  margin-top: 10px;
}
