footer.main-footer {
  background: #0e0e0e;
  color: #fff;
  position: absolute;
  right: 0;
  // bottom: 0;
  left: 0;

  a {
    color: inherit;
    font-weight: 300;
    margin-bottom: 7px;
  }

  a:hover,
  a:focus {
    color: #999;
  }

  ul {
    margin-right: 30px;
  }

  .copyrights {
    background: #090909;
    padding: 20px 0;
    font-size: 0.9em;

    * {
      margin-bottom: 0;
    }
  }

  li {
    padding: 0 5px;
  }
}

#goTop {
  display: none;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 80px;
  right: 20px;
  line-height: 20px;
  color: #fff;
  font-size: 30px;
  background: #3097d1;
}

#back-to-top a:hover {
  background: #fff;
  color: #3097d1;
  border: 1px solid #3097d1;
}

/* Footer Media Query ------------------------------------- */
@media (max-width: 767px) {
  footer.main-footer div[class*="col-"] {
    margin-bottom: 40px;
  }

  footer.main-footer div[class*="col-"]:last-of-type {
    margin-bottom: 0;
  }

  footer.main-footer .copyrights div[class*="col-"] {
    margin-bottom: 20px;
    text-align: center !important;
  }

  footer.main-footer .copyrights div[class*="col-"]:last-of-type {
    margin-bottom: 0;
  }
}
