.pagination {
  position: relative;
  display: inline-block;

  li {
    display: inline-block;
  }

  li.next>a,
  li.next>span {
    border-right: none;
  }

  li.disabled>a,
  li.disabled>span {
    background: none !important;
    color: #969696;
    cursor: not-allowed;
  }

  li.disabled>a:hover,
  li.disabled>span:hover {
    color: #969696 !important;
  }
}

.pagination-minimal>ul>li.previous>a,
.pagination-minimal>ul>li.next>a,
.pagination-minimal>ul>li.previous>span,
.pagination-minimal>ul>li.next>span {
  background: transparent;
  border: none;
  margin: 0 9px 0 0;
  padding: 7px 10px;
  border-radius: 6px 0 0 6px;
}

.pagination-minimal>ul>li.next {
  margin-left: 9px;
}

.pagination-minimal>ul>li.next>a,
.pagination-minimal>ul>li.next>span {
  border-right: none;
  margin: 0;
  border-radius: 0 6px 6px 0;
}

.pagination-minimal>ul>li.active>a,
.pagination-minimal>ul>li.active>span {
  background-color: #1abc9c;
  border-color: #1abc9c;
  color: #ffffff;
  margin: 10px 5px 9px;
  line-height: 16px;
}

.pagination-minimal>ul>li.active>a:hover,
.pagination-minimal>ul>li.active>span:hover,
.pagination-minimal>ul>li.active>a:focus,
.pagination-minimal>ul>li.active>span:focus {
  background-color: #1abc9c;
  border-color: #1abc9c;
  color: #ffffff;
}

.pagination-minimal>ul>li>a,
.pagination-minimal>ul>li>span {
  background: #ecedef;
  border: 5px solid #ecedef;
  color: #000;
  line-height: 15px;
  margin: 7px 2px 6px;
  min-width: 0;
  min-height: 16px;
  padding: 0 4px;
  border-radius: 50px;
  background-clip: padding-box;
  -webkit-transition: background 0.2s ease-out, border-color 0s ease-out, color 0.2s ease-out;
  transition: background 0.2s ease-out, border-color 0s ease-out, color 0.2s ease-out;
}

.pagination-minimal>ul>li>a:hover,
.pagination-minimal>ul>li>span:hover,
.pagination-minimal>ul>li>a:focus,
.pagination-minimal>ul>li>span:focus {
  background-color: #000;
  border-color: #000;
  color: #ffffff;
  -webkit-transition: background 0.2s ease-out, border-color 0.2s ease-out, color 0.2s ease-out;
  transition: background 0.2s ease-out, border-color 0.2s ease-out, color 0.2s ease-out;
}
