// GENERAL
@media (min-width: 1200px) {
  .container {
    max-width: 1260px;
  }
}
@media only screen and (max-width: 970px) {
    .left-box {
        display: none;
    }
}
.clear{
    margin-bottom: 10px;
}
.text-bold {
    font-weight: 700;
}
.text-small {
    font-size: 0.9rem;
}
body {
    overflow-x: hidden;
    position: relative;
    background: #EDF3FC; 
    min-height: 100vh;
}
strong {
    font-weight: 700;
}
a, i, span {
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
a:hover, a:focus, i:hover, i:focus, span:hover, span:focus {
    text-decoration: none;
}
a i {
    -webkit-transition: none;
    transition: none;
}
ul {
    margin: 0;
    padding: 0;
}
section {
    padding: 100px 0;
    overflow-x: hidden;
}
button, input {
    outline: none !important;
    font-family: "Open Sans", sans-serif;
}
button {
    cursor: pointer;
}
main, aside {
    padding: 50px 0 100px;
    margin-top: 25px;
}
h1 a {
    margin-left: 10px;
    font-size: 0.9em;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: #555;
    text-decoration: none;
}
h1:hover a {
    opacity: 1;
}
.page-header {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fafafa;
    margin-top: 30px;
}
.page-header h2 {
    margin-bottom: 0;
}
.animsition {
    z-index: 9999;
}
.widget {
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid #eee;
    background: #fff;
}
.widget header {
    margin-bottom: 20px;
}
.category a {
    color: #999;
    letter-spacing: 0.08em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
}
.category a::after {
    content: ',';
    color: #ddd;
    display: inline-block;
    margin-right: 5px;
}
.category a:last-of-type::after {
    display: none;
}
.category a:hover {
    color: #000;
}
i[class*="icon-"] {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
}
#style-switch-button {
    z-index: 9999 !important;
}
/*=== Helpers ===*/

.bg-red {
    background: #ff7676 !important;
    color: #fff;
}
.bg-red:hover {
    color: #fff;
}
.bg-blue {
    background: #85b4f2 !important;
    color: #fff;
}
.bg-blue:hover {
    color: #fff;
}
.bg-yellow {
    background: #ffc107 !important;
    color: #fff;
}
.bg-yellow:hover {
    color: #fff;
}
.bg-green {
    background: #54e69d !important;
    color: #fff;
}
.bg-green:hover {
    color: #fff;
}
.bg-orange {
    background: #ffc36d !important;
    color: #fff;
}
.bg-orange:hover {
    color: #fff;
}
.bg-violet {
    background: #796AEE !important;
    color: #fff;
}
.bg-violet:hover {
    color: #fff;
}
.bg-gray {
    background: #ced4da !important;
}
.bg-white {
    background: #fff !important;
}
.text-red {
    color: #ff7676;
}
.text-red:hover {
    color: #ff7676;
}
.text-yellow {
    color: #ffc107;
}
.text-yellow:hover {
    color: #ffc107;
}
.text-green {
    color: #54e69d;
}
.text-green:hover {
    color: #54e69d;
}
.text-orange {
    color: #ffc36d;
}
.text-orange:hover {
    color: #ffc36d;
}
.text-violet {
    color: #796AEE;
}
.text-violet:hover {
    color: #796AEE;
}
.text-blue {
    color: #85b4f2;
}
.text-blue:hover {
    color: #85b4f2;
}
.text-gray {
    color: #999;
}
.text-gray:hover {
    color: #999;
}
.text-white {
    color: #fff;
}
.no-padding {
    padding: 0 !important;
}
.no-padding-bottom {
    padding-bottom: 0 !important;
}
.no-padding-top {
    padding-top: 0 !important;
}
.no-margin {
    margin: 0 !important;
}
.no-margin-bottom {
    margin-bottom: 0 !important;
}
.no-margin-top {
    margin-top: 0 !important;
}
.padding-small {
    padding: 100px 0;
}
.btn {
    border-radius: 0 !important;
}
.badge {
    font-weight: 300;
}
.badge-rounded {
    border-radius: 50px;
}
.heading-light {
    font-weight: 300 !important;
}
.heading-medium {
    font-weight: 400 !important;
}
.pagination-template li.page-item {
    margin: 0 5px;
}
.pagination-template a.page-link {
    width: 40px;
    height: 40px;
    line-height: 27px;
    border-radius: 50% !important;
    border: 1px solid #ddd;
    color: #555;
    text-align: center;
}
.pagination-template a.page-link:hover, .pagination-template a.page-link.active {
    background: #f5f5f5;
}
.text-primary {
    color: #999 !important;
}
p.text-hero {
    font-size: 1.2em;
}
p.text-hero i {
    font-size: 1.2em;
}
p.small-text-hero {
    font-size: 1em;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.1;
    color: inherit;
}
h1, .h1 {
    font-size: 2.5rem;
}
h2, .h2 {
    font-size: 2rem;
}
h3, .h3 {
    font-size: 1.75rem;
}
h4, .h4 {
    font-size: 1.5rem;
}
h5, .h5 {
    font-size: 1.25rem;
}
h6, .h6 {
    font-size: 1rem;
}
.pagination-template li.page-item {
    margin: 0 5px;
}
.pagination-template a.page-link {
    width: 40px;
    height: 40px;
    line-height: 27px;
    border-radius: 50% !important;
    border: none;
    color: #555;
    text-align: center;
}
.pagination-template a.page-link:hover, .pagination-template a.page-link.active {
    background: #eee;
}
.container-fluid {
    width: 95%;
}
.text-big {
    font-size: 1.4em;
    font-weight: 300;
    line-height: 1.8em;
    color: #111;
}
a.hero-link {
    color: inherit !important;
    text-transform: uppercase;
    font-size: 1em;
    text-decoration: none !important;
    margin-top: 20px;
    font-weight: 300;
}
a.hero-link::after {
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
a.hero-link:hover {
    color: #999 !important;
}
a.hero-link:hover::after {
    background: #999;
}
div[class*="-btn"] {
    cursor: pointer;
}
/* General Media Query ------------------------------------- */

@media (max-width: 767px) {
    nav.navbar .search-btn {
        margin-left: 0;
        padding-left: 0;
        border-left: none;
    }
}
@media (max-width: 575px) {
    nav.navbar .container {
        width: 100%;
    }
    .breadcrumb li {
        display: block;
        width: 100%;
        text-align: center;
    }
}
// POST
.featured-posts {
    margin-bottom: 40px;
}
.featured-posts p {
    font-weight: 400;
    color: #777;
    font-size: 0.95em;
}
.featured-posts .text-inner {
    height: 100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.featured-posts a {
    color: inherit;
    text-decoration: none;
}
.featured-posts h2 {
    line-height: 1.1em;
    color: #333;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.featured-posts h2:hover {
    color: #555;
}
.featured-posts .avatar {
    max-width: 40px;
    min-width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}
.featured-posts .title, .featured-posts .date, .featured-posts .comments {
    font-size: 0.8em;
    font-weight: 400;
    color: #999;
}
.featured-posts .title i, .featured-posts .date i, .featured-posts .comments i {
    margin-right: 5px;
}
.featured-posts .title::after, .featured-posts .date::after, .featured-posts .comments::after {
    content: '|';
    display: inline-block;
    margin: 0 7px;
    font-size: 0.9em;
    color: #ccc;
}
.featured-posts .comments::after {
    display: none;
}
.featured-posts .image {
    max-height: 245px;
    width: auto;
    overflow: hidden;
    padding: 0;
}
.featured-posts .image img {
    height: 100%;
}
.featured-posts .post-header {
    margin-bottom: 10px;
}
.featured-posts .post-footer {
    margin-top: 30px;
}
/* Featured Posts Section Media Query ------------------------------------- */

@media (max-width: 991px) {
    .featured-posts .image {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        max-height: 300px;
        min-height: auto !important;
    }
    .featured-posts .image img {
        width: 100%;
        height: auto !important;
    }
    .featured-posts .text {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
}
@media (max-width: 575px) {
    .featured-posts .post-footer {
        font-size: 0.9em;
    }
}
@media (max-width: 350px) {
    .featured-posts .text-inner {
        padding: 15px;
    }
    .featured-posts .post-footer {
        font-size: 0.75em;
    }
}
// LATEST POST
.latest-posts .read-next {
    margin-top: 50px;
}
.post-meta {
    margin: 10px 0;
    font-size: 0.8em;
}
.post-meta .date {
    text-transform: uppercase;
    font-weight: 400;
}
.post-meta .date::after {
    display: none;
}
.post p:not(.lead) {
    font-weight: 400;
    color: #777;
    font-size: 0.95em;
}
.post a {
    text-decoration: none;
}
.post a:hover, .post a:focus {
    text-decoration: none;
}
.post h3 {
    line-height: 1.1em;
    color: #222;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-bottom: 1rem;
}
.post h3:hover {
    color: #555;
}
.post .category a {
    color: #999;
    letter-spacing: 0.05em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.post .date {
    letter-spacing: 0.05em;
    font-weight: 400;
    text-transform: uppercase;
    color: #aaa;
}
.post .avatar {
    max-width: 40px;
    min-width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}
.post .title, .post .date, .post .comments, .post .views {
    font-weight: 400;
    color: #999;
    text-transform: capitalize;
}
.post .title i, .post .date i, .post .comments i, .post .views i {
    margin-right: 5px;
    font-size: 1.1em;
}
.post .title::after, .post .date::after, .post .comments::after, .post .views::after {
    content: '|';
    display: inline-block;
    margin: 0 7px;
    font-size: 0.9em;
    color: #ccc;
}
.post .post-tags {
    margin-top: 30px;
}
.post .post-tags .tag {
    padding: 5px 25px;
    border: 1px solid #ddd;
    margin: 5px;
    color: #777;
    font-size: 0.75em;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    border-radius: 50px;
}
.post .post-tags .tag:hover {
    background: #999;
    color: #fff;
    border-color: #999;
}
.post .meta-last::after {
    display: none;
}
.post-tags-sm {
    margin-top: 10px;
}
.post-tags-sm .tag {
    padding: 2px 10px;
    border: 1px solid #ddd;
    margin: 3px;
    color: #777;
    font-size: 0.75em;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    border-radius: 50px;
}
.post-tags-sm .tag:hover {
    background: #999;
    color: #fff;
    border-color: #999;
}
/* Latest Posts Section Media Query ------------------------------------- */

@media (max-width: 767px) {
    .post {
        margin-bottom: 10px;
    }
    .post:last-of-type {
        margin-bottom: 0;
    }
}
main.posts-listing {
    padding-top: 50px;
    padding-left: 0;
    padding-right: 0;
}
main.posts-listing .post {
    margin-bottom: 10px;
}
main.posts-listing .post-footer {
    font-size: 0.8em;
}
.widget.search .form-group {
    position: relative;
}
.widget.search input {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: none;
    border-bottom: 1px solid #ddd;
    font-size: 0.95em;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    background: none;
}
.widget.search input::-moz-placeholder {
    color: #aaa;
    font-family: "Open Sans", sans-serif;
}
.widget.search input::-webkit-input-placeholder {
    color: #aaa;
    font-family: "Open Sans", sans-serif;
}
.widget.search input:-ms-input-placeholder {
    color: #aaa;
    font-family: "Open Sans", sans-serif;
}
.widget.search .submit {
    height: 40px;
    padding: 0;
    line-height: 40px;
    background: none;
    border: none;
    color: #555;
    font-size: 0.9em;
    position: absolute;
    top: 0;
    right: 0;
}
.widget.latest-posts a {
    display: block;
    color: #555;
    text-decoration: none;
}
.widget.latest-posts a:hover {
    color: #000;
}
.widget.latest-posts .image {
    min-width: 60px;
    max-width: 60px;
    height: 60px;
    overflow: hidden;
    margin-right: 20px;
}
.widget.latest-posts .item {
    margin-bottom: 20px;
}
.widget.latest-posts strong {
    font-size: 0.95em;
    display: block;
    line-height: 1em;
}
.widget.latest-posts .views, .widget.latest-posts .comments {
    font-size: 0.8em;
    font-weight: 400;
    color: #bbb;
    margin-top: 10px;
}
.widget.latest-posts .views i, .widget.latest-posts .comments i {
    margin-right: 5px;
}
.widget.latest-posts .views::after, .widget.latest-posts .comments::after {
    content: '|';
    display: inline-block;
    margin: 0 7px;
    font-size: 0.9em;
    color: #ccc;
}
.widget.latest-posts .comments::after {
    display: none;
}
.widget.categories .item {
    background: #fafafa;
    padding: 10px;
    color: #777;
    font-weight: 700;
}
.widget.categories .item:nth-of-type(2n+2) {
    background: none;
}
.widget.teams {
    padding: 10px !important;
}
.widget.teams a {
    display: block;
    color: #555;
    text-decoration: none;
}
.widget.teams a:hover {
    color: #000;
}
.widget.teams .image {
    border-radius: 5%;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
    overflow: hidden;
    margin: -10px 10px 0 0;
}
.widget.teams .item {
    margin-bottom: 20px;
}
.widget.teams strong {
    font-size: 0.95em;
    display: block;
    line-height: 1em;
}
.widget.teams .views, .widget.teams .comments {
    font-size: 0.8em;
    font-weight: 400;
    color: #bbb;
    margin-top: 10px;
}
.widget.teams .views i, .widget.teams .comments i {
    margin-right: 5px;
}
.widget.teams .views::after, .widget.teams .comments::after {
    content: '|';
    display: inline-block;
    margin: 0 7px;
    font-size: 0.9em;
    color: #ccc;
}
.widget.teams .comments::after {
    display: none;
}
.widget.categories .item {
    background: #fafafa;
    padding: 10px;
    color: #777;
    font-weight: 700;
}
.widget.categories .item:nth-of-type(2n+2) {
    background: none;
}
.widget.categories .item a {
    color: inherit;
    font-size: 0.95em;
}
.widget.categories .item a:hover {
    color: #000;
    text-decoration: none;
}
.widget.categories .item span {
    font-size: 0.9em;
    color: #aaa;
}
.widget.links {
    padding: 10px;
}
.widget.links a {
    font-size: 0.95em;
}
.widget.links a:hover {
    color: #000;
    text-decoration: none;
}
.widget.tags .tag {
    padding: 5px 15px;
    border: 1px solid #ddd;
    margin: 5px 0;
    color: #777;
    font-size: 0.75em;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    border-radius: 50px;
}
.widget.tags .tag:hover {
    background: #999;
    color: #fff;
    border-color: #999;
}
.blog-post {
    padding-left: 0;
    padding-right: 0;
}
.blog-post .post-footer {
    font-size: 0.8em;
}
.blog-post .post-thumbnail img {
    width: 100%;
    margin-bottom: 10px;
}
.blog-post h1 {
    color: #444;
    line-height: 1.1em;
}
.blog-post h1:hover {
    color: #444;
}
.blog-post .post-footer {
    margin-top: 20px;
}
.blog-post .post-body {
    margin-top: 40px;
}
.blog-post .post-body h2, .blog-post .post-body h3, .blog-post .post-body h4, .blog-post .post-body h5, .blog-post .post-body h6 {
    color: #333;
}
.blog-post .post-body p {
    margin-bottom: 30px;
}
.blog-post .post-body p:not(.lead) {
    font-size: 1em;
    line-height: 1.7em;
    color: #555;
}
.blog-post .posts-nav {
    margin-top: 50px;
    color: #777;
    font-size: 0.8em;
}
.blog-post .posts-nav a {
    color: inherit;
    width: calc(50% - 10px);
    padding: 10px 20px;
    border: 1px solid #eee;
    margin-bottom: 15px;
}
.blog-post .posts-nav a:hover {
    border-color: #999;
}
.blog-post .posts-nav a:hover .icon {
    background: #999;
    color: #fff;
    border-color: #999;
}
.blog-post .icon {
    min-width: 35px;
    max-width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 32px;
    border: 1px solid #ddd;
    color: #aaa;
    font-size: 1.5em;
    text-align: center;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.blog-post .icon.prev {
    margin-right: 20px;
}
.blog-post .icon.next {
    margin-left: 20px;
}
@media (max-width: 767px) {
    .posts-nav a {
        width: 100% !important;
    }
}
.img-circle {
    border-radius: 50%;
}
.btn-tool {
    padding: .25rem .5rem;
    margin: -35px -5px 0 0;
    font-size: 0.875rem;
    background: transparent;
    color: #adb5bd;
}
.card-comments {
    background: #fbfbfb;
    border-top: none !important;
}
.card-comments .card-comment {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}
.card-comments .card-comment::after {
    display: block;
    clear: both;
    content: "";
}
.card-comments .card-comment:last-of-type {
    border-bottom: 0;
}
.card-comments .card-comment:first-of-type {
    padding-top: 0;
}
.card-comments .card-comment img {
    float: left;
}
.card-comments .comment-text {
    margin-left: 40px;
    color: #555;
}
.card-comments .username {
    color: #444;
    display: block;
    font-weight: 600;
}
.card-comments .text-muted {
    font-weight: 400;
    font-size: 14px;
}
.user-block::after {
    display: block;
    clear: both;
    content: "";
}
.user-block img {
    width: 40px;
    float: left;
}
.user-block .username, .user-block .description, .user-block .comment {
    display: block;
    margin-left: 50px;
}
.user-block .username {
    font-size: 16px;
    font-weight: 600;
}
.user-block .description {
    color: #999;
    font-size: 13px;
}
.user-block.user-block-sm .username, .user-block.user-block-sm .description, .user-block.user-block-sm .comment {
    margin-left: 40px;
}
.user-block.user-block-sm .username {
    font-size: 14px;
}
.img-sm, .user-block.user-block-sm img, .img-md, .img-lg {
    float: left;
    width: 30px !important;
}
.submit-comment img {
    width: 30px !important;
}
.img-sm+.img-push, .card-comments .card-comment img+.img-push, .user-block.user-block-sm img+.img-push {
    margin-left: 40px;
}
// Notifications
.notifications {
    margin-top: 30px;
    .card {
        border: none;
    }
    .card-header {
        background-color: transparent;
        border: none;
        .tip {
            height: 30px;
            line-height: 30px;
            b {
                font-size: 16px;
            }
        }
        form {
            display: none;
        }
    }
    .card-body {
        padding: 0;
    }
    ul.notification {
        list-style: none;
        padding-left: 15px;
        padding-right: 15px;
        li {
            margin-top: 3px;
            margin-bottom: 3px;
            padding: 5px 10px;
            i {
                padding-left: 8px;
                padding-right: 8x;
            }
            &:hover {
                background-color: #efefef;
            }
        }
    }
}
// User Profile
.user {
    .avatar {
        width: 120px !important;
    }
    .content {
        padding: 0;
        .header {
            font-size: 18px;
            font-weight: bold;
        }
        .description {
            font-size: 16px;
            margin: 10px 0;
        }
        .footer {
            margin-top: 10px !important;
        }
    }
}
.profile {
    margin-top: 40px;
    font-weight: bold;
    .cover-avatar {
        position: relative;
    }
    .cover-avatar input {
        position: absolute;
        top: 0;
        left: 0;
        width: 150px;
        height: 150px;
        opacity: 0;
        cursor: pointer;
    }
    .cover-avatar .avatar {
        width: 150px !important;
        height: 150px;
        border-radius: 50%;
        -webkit-transition: transition .6s ease-in;
        -moz-transition: transition .6s ease-in;
        transition: transform .6s ease-in;
        margin-bottom: 20px;
    }
    .cover-avatar:hover .avatar {
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}
@media only screen and (max-width: 990px) {
    .profile .cover-avatar input {
        left: 40%;
    }
    .user .content {
        margin-left: 30px;
    }
}
@media only screen and (max-width: 568px) {
    .profile .cover-avatar input {
        left: 30%;
    }
}
@media only screen and (min-width: 568px) and (max-width: 767px) {
    .profile .cover-avatar input {
        left: 35%;
    }
}
@media only screen and (max-width: 767px) {
    .search {
        display: none;
    }
    .user .content {
        margin-left: 0;
        margin-top: 10px;
        text-align: center;
    }
}
@media only screen and (min-width: 767px) and (max-width: 990px) {
    .col-sm-5 {
        width: 35% !important;
    }
    .user-follow {
        margin-top: 0 !important;
    }
}
#validate-errors {
    color: #c00;
}
/*PROFILE CSS END*/

/* User Index List */

.user-follow {
  margin-top: 20px;
  a {
    display: block;
    text-align: center;
    color: #fff;
  }
  a.counter {
    font-size: 28px;
  }
  a.text {
    font-size: 16px;
    color: #18bc9c;
  }
}

.card-default,
.card-info {
  border: none;
}

.card-default>.card-header {
  color: $asbestos;
  background-color: $clouds;
  border: none;
  font-size: 16px;
}

.card-info>.card-header {
  color: #fff;
  background-color: #597289;
  border: none;
  font-size: 16px;
}

.list-group-item {
  border-color: #f9f9f9;

  a {
    color: #18bc9c;

    img {
      margin-right: 10px;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  &:hover {
    color: #fff;
    background-color: #7cd6c4;

    a,
    span {
      color: #fff;
    }
    span.meta {
      color: #597289;
    }
    span.timeago {
      color: $default-color;
    }
  }
}

span.meta {
  font-size: 12px;
  color: #ccc;
}

span.timeago {
  color: #aaa;
}

.nothing {
  font-size: 20px;
  list-style: none;
  padding: 15px;
  color: #ccc;
}

.list-group-item.active {
  &,
  &:hover,
  &:focus {
    z-index: 2;
    color: #597289;
    background-color: $clouds;
    border-color: $clouds;
  }
}

// Emojione
img.emojione {
  border: none !important;
  box-shadow: none !important;
  width: 30px;
  margin: 0 !important;
}